.battle_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_page {
    display: flex;
    background-image: url("src/assets/images/yawning_portal.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.filler { flex-grow: 1; }

.heroes-section {
    display: flex;
    flex-flow: column;
    height: 100vh;
}