.battle_list {
    width: 400px;
}

.full_page {
    display:flex;
}

.filler { flex-grow: 1; }

.heroes-section {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: yellow;
}