<div class="container">
    <h1>Add a character</h1>
    <form formGroup]="characterForm" (ngSubmit)='onSubmit(characterForm.value)'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="max_hp">Maximum HP</label>
        <input type="number" class="form-control" id="max_hp">
      </div>

      <button type="submit" class="btn btn-success">Add</button>

    </form>
</div>