<div class="container character_form">
    <h1>Add a character</h1>
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
            <div class="column">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="name">Name</mat-label>
                        <input matInput type="text" id="name" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="race">Race (optional)</mat-label>
                        <input matInput type="text" class="form-control" id="race" formControlName="race">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="max_hp">Maximum HP</mat-label>
                        <input matInput type="number" min="1" class="form-control" id="max_hp" formControlName="max_hp" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="column">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="strength">Strength</mat-label>
                        <input matInput type="number" min="1" id="strength" formControlName="strength" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="dexterity">Dexterity</mat-label>
                        <input matInput type="number" min="1" id="dexterity" formControlName="dexterity" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="constitution">Constitution</mat-label>
                        <input matInput type="number" min="1" id="constitution" formControlName="constitution" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="intelligence">Intelligence</mat-label>
                        <input matInput type="number" min="1" id="intelligence" formControlName="intelligence" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="wisdom">Wisdom</mat-label>
                        <input matInput type="number" min="1" id="wisdom" formControlName="wisdom" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label for="charisma">Charsima</mat-label>
                        <input matInput type="number" min="1" id="charisma" formControlName="charisma" required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button type='submit' class="btn btn-success" [disabled]="!characterForm.valid">Add</button>
    </form>
</div>