#battle_list {
    width: 500px;
    max-height: 400px;
    background-color: rgb(255, 247, 133);
    border: solid 2px darkslategrey;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.health-input {
    width: 50px;
}

.character_name {
    padding-right: 10px;
}

.character {
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    border: solid 1px darkslategrey;
    min-height: 60px;
    display: flexbox;
    background: lightgrey;
    border-radius: 4px;
    overflow: hidden;
    cursor: move;
    padding: 0px 10px;
    flex-grow: 1;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.drop-message {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
} 